.cards-display {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 90vw;
}

@media (min-width: $desktop-breakpoint) {
  .cards-display {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: $m-size;
  }
}
