.footer {
  background: $blue;
  color: $off-white;
  padding: 8px;
  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.footer__text {
  font-size: 12px;
  margin: 0;
  padding: 0 $xs-size;
}

.footer__link {
  color: $off-white;
  font-size: 12px;
  text-decoration: underline;
  margin: 0;
}

.boxes-container {
  margin: 0;
  padding: 0 $xs-size;
}

@media (min-width: $desktop-breakpoint) {
  .footer {
    padding: 12px;
  }

  .footer__text {
    font-size: 20px;
  }

  .footer__link {
    font-size: 20px;
  }

  .boxes-container {
    padding: 0 $m-size;
  }
}
