.footer {
  background: $blue;
  color: $off-white;
  padding: 12px;
  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 85vw;
  }
}

.footer__text {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.footer__link {
  color: $off-white;
  font-size: 20px;
  text-decoration: underline;
  margin: 0;
}

.boxes-container {
  margin: 0;
  padding: 0 $m-size;
}
