h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#icon {
  max-width: 6rem;
  max-height: auto;
}

p {
  font-size: $m-size;
}

.forecast-title {
  font-size: $l-size;
  margin-top: $s-size;
  margin-bottom: $s-size;
}

.forecast-date {
  display: none;
}

.forecast-description {
  display: none;
}

.forecast-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 $xs-size;
}

.forecast-item {
  border: none;
  box-shadow: none;
  margin: $xs-size;
}

@media (min-width: $desktop-breakpoint) {
  #icon {
    max-width: 100%;
    max-height: auto;
  }

  p {
    margin-bottom: $s-size;
  }

  .forecast-title {
    font-size: $xl-size;
  }

  .forecast-date {
    display: block;
    margin-top: $s-size;
  }

  .forecast-description {
    display: block;
  }

  .forecast-container {
    display: grid;
    grid-gap: $s-size;
    grid-template-columns: repeat(5, 1fr);
    max-width: 100%;
    padding: $m-size;
  }

  .forecast-item {
    border: solid $off-white;
    border-radius: 5%;
    margin: $xs-size;
    box-shadow: 2px 2px 2px $off-white;
  }
}
