.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: $s-size;
  padding: $s-size 0;
}

.button {
  background-color: transparent;
  border-color: $off-white;
  border-radius: 3%;
  color: $off-white;
  font-size: $l-size;
  margin: 0 $s-size;
}

#city,
#country {
  background-color: transparent;
  color: $off-white;
  font-size: $l-size;
  border: none;
  border-bottom: 1px solid $off-white;
  margin: 0 $s-size $s-size $m-size;
  max-width: 20rem;
}

::placeholder {
  color: $off-white;
}

// .boxes-container {
//   align-items: center;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   margin: $m-size;
//   max-width: 85vw;
//   padding: 0 $m-size;
// }

@media (min-width: $desktop-breakpoint) {
  .input-container {
    flex-direction: row;
    justify-content: space-around;
    max-width: 80rem;
    padding: 0 $m-size;
  }

  .button {
    font-size: $xl-size;
  }

  #city,
  #country {
    font-size: $xl-size;
    margin-bottom: 0;
  }

  .boxes-container {
    margin: $l-size;
  }
}
