.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: $s-size;

  input {
    outline: none;
  }
}

.button {
  background-color: transparent;
  border-color: $off-white;
  border-radius: 3%;
  color: $off-white;
  font-size: $l-size;
  margin: $m-size;
  padding: 0 $xs-size;
}

#city,
#country {
  background-color: transparent;
  color: $off-white;
  font-size: $l-size;
  border: none;
  border-bottom: 1px solid $off-white;
  margin: $m-size;
  max-width: 20rem;
}

::placeholder {
  color: $off-white;
}

@media (min-width: $desktop-breakpoint) {
  .input-container {
    flex-direction: row;
    justify-content: center;
    padding: $m-size;
  }

  .button {
    font-size: $xl-size;
    margin: 0 $l-size;
  }

  #city,
  #country {
    font-size: $xl-size;
    margin: 0 $l-size;
  }
}
