.header {
  background: $blue;
  color: $off-white;
  padding: 8px;
}

.header__title {
  text-align: center;
  font-size: 32px;
  margin: 0;
}

.header__subtitle {
  position: absolute;
  visibility: hidden;
}

@media (min-width: $desktop-breakpoint) {
  .header__title {
    text-align: left;
    font-size: 36px;
    margin: 0;
  }

  .header__subtitle {
    color: $off-white;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    position: relative;
    visibility: visible;
  }
}
