h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: $m-size;
  border: 1px $off-white solid;
  border-radius: 50%;
  margin: $m-size;
  min-width: 187px;
}

.first-row {
  .date {
    font-size: $m-size;
  }
}

.second-row {
  align-items: center;
  display: flex;
  justify-content: center;
  .temperatures {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .temp {
      font-size: $m-size;
      padding: $xxs-size $xs-size;
    }
  }
}

.third-row {
  .description {
    font-size: $m-size;
  }
}

@media (min-width: $desktop-breakpoint) {
  .card-container {
    margin: $m-size;
  }
}
