h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: $xs-size;
  border: 3px $off-white solid;
  border-radius: $xs-size;
  margin: $m-size;
  min-width: 200px;
}

.first-row {
  .date {
    font-size: $m-size;
    text-decoration: underline;
  }
}

.second-row {
  align-items: center;
  display: flex;
  justify-content: center;
  .icon {
  }
  .temperatures {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .temp {
      font-size: $m-size;
      padding: $xs-size;
    }
  }
}

.third-row {
  .description {
    font-size: $m-size;
  }
}

@media (min-width: $desktop-breakpoint) {
  .card-container {
    margin: $m-size;
    box-shadow: 5px 8px 6px $off-white;
  }

  .first-row {
    .date {
    }
  }

  .second-row {
    .icon {
    }
    .temperatures {
      .temp {
      }
    }
  }

  .third-row {
    .description {
    }
  }
}
