input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  margin: 1rem;
}

label {
  color: #b6c3d8;
  font-size: 24px;
}

@media (max-width: 960px) {
  input[type="checkbox"],
  input[type="radio"] {
    margin: 0.8rem;
  }

  label {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  input[type="checkbox"],
  input[type="radio"] {
    margin: 0.6rem;
  }

  label {
    font-size: 12px;
  }
}
