/* .container {
  padding: 20px;
}

.container label {
  display: block;
  font-family: Verdana;
  font-weight: bold;
  padding: 10px;
}

.container input {
  width: 100px;
  height: 5px;
  padding: 10px;
} */
