.submitForm {
  background: azure;
  border-radius: 30px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid blue;
  padding: 2vmin;
}

.submitForm button {
  background-color: #d3d3d3;
  color: black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
