/* .submitForm {
  background: rgb(160, 210, 252);
  border-radius: 20px;
  width: 80%;
  margin: 25px auto;
  border: 1px solid rgb(0, 0, 0);
  padding: 2vmin;
} */

/* .submitForm button {
  background-color: #d3d3d3;
  color: black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 12px;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
} */
