.current-weather {
  display: block;
  color: #b6c3d8;
}

h1 {
  margin-bottom: 5%;
  color: #b6c3d8;
}

.grid-container {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  max-width: 100%;
  color: #b6c3d8;
}

.grid-item {
  border: solid #b6c3d8;
  border-radius: 5%;
  margin: 2%;
  box-shadow: 3px 3px #b6c3d8;
}
