/* .cointainer {
  display: "flex";
  justify-content: "flex-start";
  background-color: "#d3d3d3";
}

.cointainer img {
  border-radius: "30%";
  width: "5%";
  height: "auto";
  padding: "10px";
}

.cointainer h3 {
  font-family: "Verdana";
} */
