// Color
$off-white: #d4d4d4;
$blue: #085297;
$light-blue: #5ba9ee;

// Size
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;
$xxl-size: 4.6rem;
$desktop-breakpoint: 45rem;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
