// Color
$off-white: #f3f3f3;
$blue: #067eb3;
$light-blue: #4eb2de;

// Size
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;
$xxl-size: 4.6rem;
$desktop-breakpoint: 45rem;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
